
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* ESTILO HEADER */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 200px;
}
.logo{
    height: 20%;

}
.navbar{
    display: flex;

    width: 600px;

}
.lista{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 10px;
    
}
.lista li{
    margin: 0px 15px;
    white-space: nowrap;
}
.lista a{
    color: #242E52;
    font-size: 0.813rem;
    text-decoration: none;
}
.fa-burger{
    visibility: hidden;
}
.btn  {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    box-shadow: 0em 0.1em 0.4em 0.1em #888888;
    color: white;
    font-weight: 600;
    font-size: 13.18px;
    width: 140px;
    height: 44px;
}

/* ESTILOS SECTION HEADER */

.section-header{
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 1440px;
    
}
.section-header div img{
    width: 540px;
    height: 462px;


}
.header-tittle{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 462px;
    margin-right: 100px;
}
.section-header h1{
    color: #232C50;
    font-style: bold;
    font-size: 50px;
    line-height: 57px;
    margin-top: 40px;
    width: 450px;
    height: 228px;

}
.section-header h3{
    color: #000000;
    font-weight: 500;
    font-size: 16.56px;
    line-height: 26px;
    text-align: right;
    margin-top: 30px;
    width: 450px;
    height: 256;
}

.header-tittle button  {
    margin-top: 40px;
}



/* RESPONSIVE | MEDIA QUERIES */

/* min-width y max-width */
@media screen and  (max-width: 480px)
{
    header {
        display: flex;
        justify-content: space-around;
    }
    .navbar{
        display: none;
        
    }
    .fa-burger{
        visibility: visible;
    }


header button{
    display: none;
}

.section-header {
    flex-direction: column;
    align-items: center;
}
.header-tittle{
    margin: 0;
    margin-left: 100px;
}
}