
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
input#button {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    box-shadow: 0em 0.1em 0.4em 0.1em #888888;
    color: white;
    font-weight: 600;
    font-size: 13.18px;
    width: 140px;
    height: 44px;
}
/* ESTILO HEADER */
.flex{
    display: flex;
}
.header {
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.logo{
    height: 20%;
    margin-left: 5%;
}
.navbar{
    width: 100%;
}
.lista{
    justify-content: space-around;
    list-style-type: none;
    margin: 0px 200px;
}
.lista li{
    margin: 0px 15px;
    white-space: nowrap;
}
.lista a{
    color: #242E52;
    font-size: 0.813rem;
    text-decoration: none;
}
input#button{
    margin-right: 5%;
    /* visibility: hidden; */
}
.fa-burger{
    visibility: hidden;
}
/* RESPONSIVE | MEDIA QUERIES */
/* min-width y max-width */
@media screen and  (max-width: 700px)
{
    .navbar{
        display: none;
    }
}










.section{
    display: flex;
    margin: 15px;
    
}
.section div img{

}
.section div h2{
    color: #232C50;
    font-style: bold;
    font-size: 50px;
    line-height: 57px;
    line-height: 115%;
    text-align: right;
    padding: 10%;

}
.section div h3{
    color: #000000;
    font-style: bold;
    font-size: 16.56px;
    line-height: 57px;
    line-height: 115%;
    text-align: right;
    padding: 0% 10% 0% 10%;
}
.input#button-dos{
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    box-shadow: 0em 0.1em 0.4em 0.1em #888888;
    color: white;
    font-weight: 600;
    font-size: 13.18px;
    width: 140px;
    height: 44px;
    margin-left: 73%;
    margin-top: 15px;
    /* visibility: hidden; */
}